@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@layer base {
  :root {
    --color-gradient-start: #9333ea; /* from-purple-600 */
    --color-gradient-end: #312e81; /* to-indigo-900 */
    --color-text-primary: #d8b4fe; /* text-purple-300 */
    --color-text-secondary: #ffffff; /* text-white */
    --color-text-accent: #4a044e;
    --color-text-gray: rgb(55 65 81);
  }
}

html {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none !important;
}
body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

